.App {
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    display: flex;
    height: 97vh;
    width: 97vw;
}

.flex-c {
    flex-direction: column;
    display: flex;
}

.no-outline {outline: none;}
.flex-r { display: flex;}
.no-margin {margin: 0;}
p {margin: 0;}

